{% extends 'bangu/base.html' %}
{% load static %}
{% block content%}
<div class="form-group">
    
    <form class="form-signin" action="/result/" method="POST">
    	<h3 style="color: #fff" class="form-signin-heading"><b style="color: #fff">বাঙালী বাঙালী <i class="em em-flag-bd"></i></b><br>Write your heart out!</h3>
        {% csrf_token %}
    <label for="comment" style="color: #fff">Insert your text here:</label>
    <textarea class="form-control" rows="5" name="text" id="picasso"></textarea>
    <textarea class="form-control" rows="4" id="newton"></textarea>
    </form>

    </div> 

{% endblock %} 
